{{ 'output.css' | asset_url | stylesheet_tag }}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
{{ 'ageVerification.js' | asset_url | script_tag }}

{% if true %}
  <div data-my-app-embed data-store="{{ shop.permanent_domain }}"></div>
{% endif %}

<!-- Age Verification Modal -->

<div id="popup-modal" style="position: fixed; inset: 0; z-index: 50; display: none; 
    display: flex; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.5);">
  <div id="age-verification-dynamic-content">
    
  </div>
</div>

{% schema %}

{
  "name": "Age Verification Section",
  "target": "body",
  "settings": [

  ]
}
{% endschema %}