{{ 'output.css' | asset_url | stylesheet_tag }}
{{ 'ageVerification.js' | asset_url | script_tag }}


{% assign age_limit = block.settings.age_limit %}
{% assign title = block.settings.title %}
{% assign message = block.settings.message | replace: '[ age ]', age_limit %}
{% assign accept_message = block.settings.accept_message | replace: '[ age ]', age_limit %}
{% assign reject_message = block.settings.reject_message | replace: '[ age ]', age_limit %}
{% assign popup_image = block.settings.popup_image %}

<style>
  html, body {
    height: 100%;
  }

  body.modal-open {
    overflow: hidden
    height: 100vh;
  }

  .custom-size {
    font-size: 25px;
  }

  .custom {
  padding: 20px;
}

</style>

{% if true %} <!-- Always True to indicate app is enabled -->
  <div data-my-app-embed data-store="{{ shop.permanent_domain }}"></div>
{% endif %}

<!-- Age Verification Modal -->


<div id="popup-modal" style="position: fixed; inset: 0; z-index: 50; display: none; 
    display: flex; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.5);">
  <div id="age-verification-dynamic-content">
    
  </div>
</div>

